---
import Bookingcard from '../components/bookingcard.astro';
import Layout from '../layouts/Layout.astro';

const content={
    secondSection:{
        title:"Hello, I am Hyo Un Berbat. A Wedding & Lifestyle Photographer.",
        content:"Hello, I am Hyo Un, a lifestyle photographer based in (city), France. My passion is to document the fleeting moments of love to create timeless, beautiful images as memories. I love capturing weddings, elopements and also families. My style is minimal, natural and understated. Looking forward to capturing your special day for eternity!",
        button:{
            text:"contact me"
        }
    },
    sectionTree:{
        cards:[
            {
                image:"./image/gallery/general/individual.png",
                title:"Individual",
                content:"We capture the essence of every moment in individual photos that reflect your unique personality. Whether to create unforgettable memories, renew your portfolio or simply record your best version, our clickers value every detail with creativity and sensitivity. Turn moments into art!"
            },
            {
                image:"./image/gallery/general/Couple-and-Family.png",
                title:"Couple and Family",
                content:"Capture the love and connection that makes your story unique with our couples and family photos. Every smile, look and hug is sensitively captured, creating timeless memories that reflect the most special bonds in your life. Celebrate these moments with the delicacy they deserve!"
            },
            {
                image:"./image/gallery/general/Weadding.png",
                title:"Weadding",
                content:"We immortalize every detail of your big day with wedding photos full of emotion and meaning. From the preparations to the 'yes', we record the most special moments with sensitivity and art, creating memories that will tell your love story forever."
            }
        ],
        button:{
            text:"find out more"
        }
    },
    sectionFour:{
        title:"Let’s turn your special moments into unforgettable memories together!",
        content:"The process of contacting and hiring photography begins with the client sending basic details about the desired service via email or social media. The photographer responds with information about availability, prices and portfolio examples. After discussing details such as location, date and specific needs, the client receives a formal proposal and a contract to sign. The reservation is confirmed with an initial payment, and the photographer guides the preparations until the day of the session. Finally, the edited material is delivered within the agreed deadline, ensuring a professional and personalized experience.",
    },
    cards:[
        {image:""},
        {image:""},
        {image:""},
        {image:""},
        {image:""},
        {image:""},
        {image:""},
        {image:""},
        {image:""},
        {image:""},
        {image:""},
        {image:""},
    ]
}
---

<Layout>
    <main class=" flex flex-col items-center gap-[90px]">
        
        <section id="heroSection" class=" section relative flex flex-col justify-center items-center">
            <img class="w-[1677px] h-[977px] rounded-xl bg-contain" src="./image/gallery/general/header-homepage.png" alt=""/>
            <div class=" absolute flex flex-col justify-center items-center gap-16 font-lora italic">
                <p class=" text-brighter2 heroSectionText text-3xl">Unforgettable moments</p>
                <h3 class=" text-brighter2 heroSectionText text-[46px]">immortalized with passion and creativity</h3>
            </div>
        </section>

        <section id="aboutMeSection" class=" section flex flex-row justify-center items-center gap-[105px]">
            <img class="w-[499px] h-[497px] rounded-xl" src="./image/gallery/general/hyoun.png" alt=""/>
            <div class=" flex flex-col items-center max-w-[745px] gap-16 font-lora">
                <h3 class=" text-reddarker text-center text-[46px] italic">{content.secondSection.title}</h3>
                <p class=" text-darker2 text-center text-lg">{content.secondSection.content}</p>
                <div class=" bg-brighter1 flex justify-center items-center rounded-lg  w-[221px] h-[46px]">
                    <button class="cursor-pointer text-darker2 text-4xl">{content.secondSection.button.text}</button>
                </div>
            </div>
        </section>
        <section id="serviceSection" class=" section flex flex-col gap-[111px]">
            <div class="flex flex-wrap gap-5">
                {
                    content.sectionTree.cards.map((data)=>{
                        return(
                            <div class=" serviceCards flex flex-col gap-8 w-[463px] font-lora">
                                <img class="w-[463px] h-[376px] rounded-md" src={data.image} alt=""/>
                                <div class="w-full flex flex-col h-[174px] gap-6">
                                    <h4 class="text-reddarker text-3xl font-medium italic">{data.title}</h4>
                                    <p class="text-darker2 text-justify text-base">{data.content}</p>
                                </div>
                                <div class="font-lora w-full flex justify-center">
                                    <div class="bg-brighter1 flex justify-center items-center rounded-lg w-[295px] h-[46px]">
                                        <button class="cursor-pointer text-darker2 text-4xl">{content.sectionTree.button.text}</button>
                                    </div>
                                </div>
                            </div>
                        )
                    })
                }
            </div>
        </section>
        <Bookingcard Id="bookingSection" Content={content}/>
        <section id="followMeSection" class=" section flex flex-col gap-14">
            <div class="followMeSectionContent flex flex-col gap-5 items-center font-lora">
                <h4 class="text-darker2 text-3xl">Follow me on Instagram</h4>
                <a class="text-darker2 text-lg italic" href="https://www.instagram.com/berbatphotos/">@berbatphotos</a>
            </div>
            <div class="followMeSectionContent flex flex-wrap gap-5 w-[1432px]">
                {
                    content.cards.map(()=>{
                        return(
                            <img class="w-[222px] h-[306px]" src="" alt=""/>
                        )
                    })
                }
            </div>
        </section>
    </main>
</Layout>
<script>
    import { animate, inView, stagger } from "motion"
    inView("#heroSection",()=>{
        animate(".heroSectionText",{opacity:[0, 1], y:[100,0]},{ delay: stagger(0.1,{ startDelay: 0.2 }),duration:0.5})
    })
    inView("#aboutMeSection",(element)=>{
        animate(element,{opacity:[0, 1], y:[100,0]},{ delay:0.4, duration:0.5})
    })
    inView("#serviceSection",()=>{
        animate(".serviceCards",{x:[100,0],opacity:[0,1]},{delay: stagger(0.3,{ startDelay: 0.6 }),duration:0.5})
    })
    inView("#bookingSection",(element)=>{
        animate(element,{opacity:[0, 1], y:[100,0]},{ delay:0.7, duration:0.5})
    })
    inView("#followMeSection",()=>{
        animate(".followMeSectionContent",{opacity:[0, 1], y:[100,0]},{ delay: stagger(0.3,{ startDelay: 0.4 }), duration:0.5})
    })
</script>