---
import Layout from '../layouts/Layout.astro';

const content={
    secondSection:{
        title:"Hello, I am Hyo Un Berbat. A Wedding & Lifestyle Photographer.",
        content:"Hello, I am Hyo Un, a lifestyle photographer based in (city), France. My passion is to document the fleeting moments of love to create timeless, beautiful images as memories. I love capturing weddings, elopements and also families. My style is minimal, natural and understated. Looking forward to capturing your special day for eternity!",
        button:{
            text:"contact me"
        }
    },
    sectionTree:{
        cards:[
            {
                image:"",
                title:"Individual",
                content:"We capture the essence of every moment in individual photos that reflect your unique personality. Whether to create unforgettable memories, renew your portfolio or simply record your best version, our clickers value every detail with creativity and sensitivity. Turn moments into art!"
            },
            {
                image:"",
                title:"Couple and Family",
                content:"Capture the love and connection that makes your story unique with our couples and family photos. Every smile, look and hug is sensitively captured, creating timeless memories that reflect the most special bonds in your life. Celebrate these moments with the delicacy they deserve!"
            },
            {
                image:"",
                title:"Weadding",
                content:"We immortalize every detail of your big day with wedding photos full of emotion and meaning. From the preparations to the 'yes', we record the most special moments with sensitivity and art, creating memories that will tell your love story forever."
            }
        ],
        button:{
            text:"find out more"
        }
    },
    sectionFour:{
        title:"Let’s turn your special moments into unforgettable memories together!",
        content:"The process of contacting and hiring photography begins with the client sending basic details about the desired service via email or social media. The photographer responds with information about availability, prices and portfolio examples. After discussing details such as location, date and specific needs, the client receives a formal proposal and a contract to sign. The reservation is confirmed with an initial payment, and the photographer guides the preparations until the day of the session. Finally, the edited material is delivered within the agreed deadline, ensuring a professional and personalized experience.",
    },
    cards:[
        {image:""},
        {image:""},
        {image:""},
        {image:""},
        {image:""},
        {image:""},
        {image:""},
        {image:""},
        {image:""},
        {image:""},
        {image:""},
        {image:""},
    ]
}
---

<Layout>
    <main class=" flex flex-col items-center gap-[90px]">
        
        <section class=" relative flex flex-col justify-center items-center">
            <img class="w-[1677px] h-[977px] rounded-xl" src="" alt=""/>
            <div class=" absolute flex flex-col justify-center items-center gap-16 font-lora italic">
                <p class="text-3xl">Unforgettable moments</p>
                <h3 class="text-[46px]">immortalized with passion and creativity</h3>
                <p class="text-4xl">Boook a photo shot</p>
            </div>
        </section>

        <section class="flex flex-row justify-center items-center gap-[105px]">
            <img class="w-[499px] h-[497px] rounded-xl" src="" alt=""/>
            <div class=" flex flex-col items-center max-w-[745px] gap-16 font-lora">
                <h3 class=" text-center text-[46px] italic">{content.secondSection.title}</h3>
                <p class=" text-center text-lg">{content.secondSection.content}</p>
                <div class=" flex justify-center items-center rounded-lg bg-gray-400 w-[221px] h-[46px]">
                    <button class="text-4xl">{content.secondSection.button.text}</button>
                </div>
            </div>
        </section>
        <section class="flex flex-col gap-[111px]">
            <div class="flex flex-wrap gap-5">
                {
                    content.sectionTree.cards.map((data)=>{
                        return(
                            <div class="flex flex-col gap-8 w-[463px] font-lora">
                                <img class="w-[463px] h-[376px] rounded-xl" src="" alt=""/>
                                <h4 class="text-3xl font-medium italic">{data.title}</h4>
                                <p class="text-justify text-base">{data.content}</p>
                            </div>
                        )
                    })
                }
            </div>
            <div class="font-lora w-full flex justify-center">
                <div class=" flex justify-center items-center rounded-lg bg-gray-400 w-[295px] h-[46px]">
                    <button class="text-4xl">{content.sectionTree.button.text}</button>
                </div>
            </div>
        </section>
        <section class=" w-full flex justify-center items-center">
            <div class="flex gap-24 w-[1433px] h-[741px] bg-gray-400 justify-center items-center">
                <div class="flex flex-col gap-7 max-w-[470px] font-lora">
                    <h3 class="text-5xl italic">{content.sectionFour.title}</h3>
                    <p class="text-base text-justify">{content.sectionFour.content}</p>
                </div>
                <div class="flex flex-col gap-8 font-lora italic text-base w-[695px]">
                    <div>
                        <label for="">Name</label>
                        <input class="bg-white w-full h-[46px] rounded-sm" type="text" name="" id="">
                    </div>
                    <div>
                        <label for="">E-mail</label>
                        <input class="bg-white w-full h-[46px] rounded-sm" type="text" name="" id="">
                    </div>
                    <div>
                        <label for="">Message</label>
                        <textarea class="bg-white w-full h-[213px] rounded-sm" name="message" id=""></textarea>
                    </div>
                    <div class="font-lora w-full flex justify-center">
                        <a class=" flex justify-center items-center rounded-lg bg-white w-[223px] h-[46px]" href="">
                            <button class="text-2xl not-italic">book a section</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="flex flex-col gap-14">
            <div class="flex flex-col gap-5 items-center font-lora">
                <h4 class="text-3xl">Follow me on Instagram</h4>
                <a class="text-lg italic" href="https://www.instagram.com/berbatphotos/">@berbatphotos</a>
            </div>
            <div class="flex flex-wrap gap-5 w-[1432px]">
                {
                    content.cards.map(()=>{
                        return(
                            <img class="w-[222px] h-[306px]" src="" alt=""/>
                        )
                    })
                }
            </div>
        </section>
    </main>
</Layout>
