---
import Herosection from "../components/herosection.astro";
import PriceCards from "../components/priceCards.astro";
import Layout from "../layouts/Layout.astro";

const pagedata={
    title:"Choose your style and immortalize your memories",
    cards:[
        {
            title:"Individual",
            paragraphs:[
                "Each person carries a unique essence, and photography has the power to reveal this in every detail. Whether for a professional photo shoot, a moment of self-confidence or simply to record the best version of yourself, our lenses capture not only your image, but also your personality, emotions and your own brilliance.",
                "Let yourself be seen through a new perspective and immortalize your difficulties with a photo shoot made especially for you."
            ],
            price:"000.00",
            image:"",
            button:{
                text:"book a section",
                link:""
            }
        },
        {
            title:"Couple and Family",
            paragraphs:[
                "The most special moments in life are those shared with those we love. Whether it’s the bond between a couple or the joy of a family reunited, every smile, hug and look tells a unique story.",
                "Our goal is to capture this genuine connection and transform it into unforgettable memories. With a sensitive and natural eye, we capture the essence of love in all its forms, so that you can relive these moments forever.",
                "Let’s create memories together that will last for generations!"
            ],
            price:"000.00",
            image:"",
            button:{
                text:"book a section",
                link:""
            }
        },
        {
            title:"Weadding",
            paragraphs:[
                "Each person carries a unique essence, and photography has the power to reveal this in every detail. Whether for a professional photo shoot, a moment of self-confidence or simply to record the best version of yourself, our lenses capture not only your image, but also your personality, emotions and your own brilliance.",
                "Let yourself be seen through a new perspective and immortalize your difficulties with a photo shoot made especially for you."
            ],
            price:"000.00",
            image:"",
            button:{
                text:"book a section",
                link:""
            }
        },
    ]
}

---
<Layout>
    <Herosection
        title="Capturing moments, preserving memories." 
        subtitle="Because every moment deserves to be remembered forever."
    />
    <main class=" flex flex-col mt-[90px] gap-[90px] items-center">
        <h3 class="w-[617px] text-center font-lora italic text-5xl">{pagedata.title}</h3>
        {
            pagedata.cards.map((card, index)=>{
                return(
                    <PriceCards
                        title={card.title} 
                        paragraphs={card.paragraphs} 
                        images={card.image}
                        price={card.price}
                        button={card.button}
                        index={index}
                    />
                )
            })
        }
    </main>
</Layout>