---
import SelectDropdown from "./selectDropdown.astro"

 const {Content, Id}= Astro.props
 const lang=Astro.params

---
<section id={Id} class=" section w-full flex justify-center items-center">
    <div class="flex flex-col md:flex-row gap-9 xl:gap-24 py-3 md:py-0 w-full h-fit md:w-[716px] md:h-[580px] xl:w-[1433px] xl:h-[741px] bg-brighter1 justify-center items-center">
        <div class="flex flex-col gap-4 md:gap-7 max-w-[450px] md:max-w-[336px] xl:max-w-[470px] font-lora mx-3 md:mx-0">
            <h3 class="text-reddarker text-center md:text-start text-3xl xl:text-5xl italic">{Content.title}</h3>
            <p class="text-darker2 text-sm xl:text-base text-justify">{Content.description}</p>
        </div>
        <form class="flex flex-col gap-5 xl:gap-8 font-lora italic text-base w-[95dvw] max-w-[450px] md:w-[284px] xl:w-[695px]">
            <div>
                <label class="text-darker2 text-base " for="">{Content.label_name}</label>
                <div class="bg-brighter2 w-full h-[46px] rounded-sm flex justify-center items-center">
                    <input class=" px-2.5 w-full outline-none" size="16" type="text" name="" id="client_name">
                </div>
            </div>
            <div>
                <label class="text-darker2 text-base " for="">{Content.label_email}</label>
                <div class="bg-brighter2 w-full h-[46px] rounded-sm flex justify-center items-center">
                    <input class=" px-2.5 w-full outline-none" size="16" type="text" name="" id="client_email">
                </div>
            </div>
            <div>
                <label class="text-darker2 text-base " for="">{Content.label_message}</label>
                <div class="bg-brighter2 w-full h-[101px] rounded-sm">
                    <textarea class="p-2.5 w-full h-full outline-none resize-none" name="message" id="client_message"></textarea>
                </div>
            </div>
            <SelectDropdown LabelText={Content.label_services} Placeholder={Content.label_placeholder}/>
            <input id="lang" type="text" class=" hidden" value={lang.lang}>
            <div class=" font-lora w-full flex justify-center">
                <div id="submitform" class="bg-brighter2 flex justify-center items-center rounded-lg w-auto min-w-[223px] h-[46px]">
                    <button class=" cursor-pointer text-darker2 px-5 text-xl xl:text-2xl not-italic">{Content.button_text}</button>
                </div>
            </div>
        </form>
    </div>
</section>