---
import { button } from 'motion/react-client'
import MenuDropdown from './menuDropdown.astro'
import Shopbag from './shopbag.astro'

export const socialMedia=[
    {
        name:'instagram',
        image:'/image/instagram-icon.svg',
        link:''
    },
    {
        name:'whatsapp',
        image:'/image/whatsapp-icon.svg',
        link:''
    },
    {
        name:'email',
        image:'/image/email-icon.svg',
        link:''
    }
]
const navegation=[
    {
        Text:'Gallery',
        subMemu:[
            {
                buttonTitle:'My Work',
                buttonLink:'/my-work'
            },
            {
                buttonTitle:'Landscape',
                buttonLink:'landscape'
            }
        ]
    },
    {
        Text:'Service',
        Links:[
            '/services'
        ]
    },
    {
        Text:'Booking',
        Links: [
            '/booking'
        ]
    }
]
---
<nav class="w-full flex justify-center h-[130px]">
    <section x-data="navbarData" class="flex items-center justify-evenly gap-72 max-w-[1920px]">
        <div class="flex gap-5">
            {
                socialMedia.map((data,index)=>{
                    return(
                        <img id={`sm-icon${index}`} x-on:mouseover="growText" x-on:mouseleave="shrinkText" class="w-[43px] h-[43px]" src={data.image} alt={data.name}/>
                    )
                })
            }
        </div>
        <div class="flex flex-col items-center gap-3">
            <a href="/">
                <h2 class="text-4xl font-satisfy text-reddarker">Berbat Photos</h2>
            </a>
            <div class="flex justify-evenly gap-20">
                {
                    navegation.map((data:any, index)=>{
                        return(
                            index==0?<MenuDropdown index={index} Text="Gallery" MenuContent={data.subMemu}/>:<a href={data?.Links[0]} class="flex flex-col">
                                <button id={`link${index}`} x-on:mouseover="handleMainLinkOn" x-on:mouseleave="handleMainLinkOff" class=" cursor-pointer font-lora italic text-2xl text-darker2">{data.Text}</button>
                                <span id={`linkPages${index}`} class=" h-1 bg-darker2"></span>
                            </a>
                        )
                    })
                }
            </div>
        </div>
        <div class="flex gap-6 items-center">
            <Shopbag/>
            <div class=" flex justify-center items-center rounded-lg bg-brighter1 w-[223px] h-[46px]">
                <a href="/booking">
                    <button id="navbarBtnContent" x-on:mouseover="growText" x-on:mouseleave="shrinkText" class="cursor-pointer font-lora italic text-lg text-darker2">
                        book a section
                    </button>
                </a>
            </div>
        </div>
    </section>
</nav>
