---
import Shopbag from "./shopbag.astro"
import arrowicon from '../../public/image/angle-vertical.svg'
import logo from '../../public/image/logoMobile.svg'
import { Image } from 'astro:assets';

import closeIcon from '../../public/image/close-icon.svg'
import menuIcon from '../../public/image/menu-icon.svg'

const {pageData} = Astro.props
const {lang}= Astro.params

const navegation=[
    {
        Text:pageData.Data?.navigation_pages.gallery_page_text,
        subMemu:[
            {
                buttonTitle:pageData.Data?.navigation_pages.dropdown_menu[0].gallery_name,
                buttonLink:pageData.Data?.navigation_pages.dropdown_menu[0].link
            },
            {
                buttonTitle:pageData.Data?.navigation_pages.dropdown_menu[1].gallery_name,
                buttonLink:pageData.Data?.navigation_pages.dropdown_menu[1].link
            }
        ]
    },
    {
        Text:pageData.Data?.navigation_pages.service_page_text,
        Links:[
            pageData.Data?.navigation_pages.service_page_link
        ]
    },
    {
        Text:pageData.Data?.navigation_pages.booking_page_text,
        Links: [
            pageData.Data?.navigation_pages.booking_page_link
        ]
    }
]
---

<section id="navBarContainer" x-data="navbarData" class=" relatives flex items-center justify-between w-[1074px] 2xl:w-[1600px] max-w-[1920px] mx-8 2xl:mx-20">
    <div class="flex gap-1">
        <a href={`/${lang}`}>
            <Image class="w-[169px] h-[40px]" src={logo} alt="Berbat Photos logo"/>
        </a>
        <div 
            x-data={`{
                laguages:[${pageData.Data?.languages.map((lang:any,index:any)=>{return`{name:'${lang.name}',link:'${lang.link}',id:${index}}`})}],
                selectedLang: '${pageData.Data?.selected_language}',
                setLang(){

                },
                show:false,
                open(){
                    this.show=!this.show
                }
            }`}
            class="relative place-content-center"
            >
            <div x-on:click="open" class=" flex items-center justify-center gap-1 px-1 bg-brighter1 rounded-sm">
                <button x-text="selectedLang" class="text-base 2xl:text-lg cursor-pointer text-darker2">
                </button>
            </div>
            <div x-cloak x-transition x-show="show" class=" shadow-2xl rounded-lg absolute z-50 top-[42px] flex flex-col gap-3 bg-brighter1 justify-center items-center w-[100px] h-[100px]">
                <template x-for="language in laguages" :key="language.id">
                    <a class="font-lora text-lg text-darker2 rounded-sm" x-text="language.name" x-bind:href="language.link"></a>
                </template>
            </div>
        </div>
    </div>
    <div id="burgerMenu" x-data="burgerMenu" class="" >
        <button x-on:click="toggle">
            <template x-if="!open">
                <img class="w-[23px] h-[23px]" src={menuIcon.src} alt="menu icon">
            </template>
            <template x-if="open">
                <img class="w-[20px] h-[20px]" src={closeIcon.src} alt="close icon">
            </template>
        </button>
        <div x-cloak x-transition x-show="open" class=" shadow-2xl absolute z-20 w-full h-fit bg-darker2 left-0 top-[62px] py-3 flex flex-col justify-evenly items-center gap-2.5">
            {
                navegation.map((data:any, index)=>{
                    return(
                        index==0?
                            <div x-data="dropdown" class="flex flex-col w-full gap-2.5">
                                <div class="flex gap-2.5 justify-center items-center">
                                    <div class="flex flex-col">
                                        <p id="linkText" x-on:click="toggle()" class=" cursor-pointer font-lora italic text-lg 2xl:text-2xl text-brighter2 md:text-darker2">{data.Text}</p>
                                        <span id="linkPages" class=" h-1 bg-darker2"></span>
                                    </div>
                                    <button x-on:click="toggle()" class=" cursor-pointer">
                                        <img id="arrow-icon" class="arrow-icon w-[13px] h-[13px]" src={arrowicon.src} alt="arrow-icon"/>
                                    </button>
                                </div>
                                <div x-cloak x-show="open" x-transition class=" flex flex-col gap-3 bg-brighter1 justify-center items-center w-full h-[76px] shadow-[inset_0_10px_10px_-10px_rgba(0,0,0,0.3),_inset_0_-10px_10px_-10px_rgba(0,0,0,0.3)]">
                                    {
                                        data.subMemu.map((content : any, index:number)=>{
                                            return(
                                                <a 
                                                    id={`dropdown-content${index}`} 
                                                    x-on:mouseover="growText" 
                                                    x-on:mouseleave="shrinkText" 
                                                    href={content.buttonLink} 
                                                    class=" cursor-pointer font-lora text-base text-darker2"
                                                >
                                                    {content.buttonTitle}
                                                </a>
                                            )
                                        })
                                    }
                                </div>
                            </div>
                            :
                            <a href={data?.Links[0]} class="flex flex-col">
                                <button id={`link${index}`} class=" cursor-pointer font-lora italic text-lg 2xl:text-2xl text-brighter2">{data.Text}</button>
                                <span id={`linkPages${index}`} class=" h-1 bg-darker2"></span>
                            </a>
                    )
                })
            }
            <Shopbag/>
        </div>
    </div>
</section>