---
import MenuDropdown from "./menuDropdown.astro";
import Shopbag from "./shopbag.astro"
import { Image } from 'astro:assets';
import logo from '../../public/image/logoDesktop.svg'

const {pageData} = Astro.props
const {lang}= Astro.params

const navegation=[
    {
        Text:pageData.Data?.navigation_pages.gallery_page_text,
        subMemu:[
            {
                buttonTitle:pageData.Data?.navigation_pages.dropdown_menu[0].gallery_name,
                buttonLink:pageData.Data?.navigation_pages.dropdown_menu[0].link
            },
            {
                buttonTitle:pageData.Data?.navigation_pages.dropdown_menu[1].gallery_name,
                buttonLink:pageData.Data?.navigation_pages.dropdown_menu[1].link
            }
        ]
    },
    {
        Text:pageData.Data?.navigation_pages.service_page_text,
        Links:[
            pageData.Data?.navigation_pages.service_page_link
        ]
    },
    {
        Text:pageData.Data?.navigation_pages.booking_page_text,
        Links: [
            pageData.Data?.navigation_pages.booking_page_link
        ]
    }
]
---

<section x-data="navbarData" class="flex items-center justify-between w-[1074px] 2xl:w-[1600px] max-w-[1920px] mx-5 2xl:mx-20">
    <div class="flex gap-5">
        {
            pageData.Data?.social_media_section.map((data:any,index: any)=>{
                return(
                    <a href={data.link} target="_blank" rel="noopener">
                        <Image id={`sm-icon${index}`} x-on:mouseover="growText" x-on:mouseleave="shrinkText" class=" w-[30px] h-[30px] 2xl:w-[43px] 2xl:h-[43px] object-contain" src={data.image} alt={data.name}/>
                    </a>
                )
            })
        }
        <div 
            x-data={`{
                laguages:[${pageData.Data?.languages.map((lang:any,index:any)=>{return`{name:'${lang.name}',link:'${lang.link}',id:${index}}`})}],
                selectedLang: '${pageData.Data?.selected_language}',
                setLang(){

                },
                show:false,
                open(){
                    this.show=!this.show
                }
            }`}
            class="relative place-content-center"
            >
            <div x-on:click="open" class=" flex items-center justify-center gap-1 px-1 bg-brighter1 rounded-sm">
                <button x-text="selectedLang" class="text-base 2xl:text-lg cursor-pointer text-darker2">
                </button>
            </div>
            <div x-cloak x-transition x-show="show" class=" absolute z-50 top-[42px] flex flex-col gap-3 bg-brighter1 justify-center items-center w-[100px] h-[100px] rounded-sm">
                <template x-for="language in laguages" :key="language.id">
                    <a class="font-lora text-lg text-darker2 rounded-sm" x-text="language.name" x-bind:href="language.link"></a>
                </template>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center gap-2.5">
        <a href={`/${lang}`}>
            <Image class="w-[189px] h-[45px] object-fill" src={logo} alt="berbet photos logo"/>
        </a>
        <div class="flex justify-evenly gap-20">
            {
                navegation.map((data:any, index)=>{
                    return(
                        index==0?
                            <MenuDropdown index={index} Text={data.Text} MenuContent={data.subMemu}/>
                            :
                            <a href={data?.Links[0]} class="flex flex-col">
                                <button id={`link${index}`} x-on:mouseover="handleMainLinkOn" x-on:mouseleave="handleMainLinkOff" class=" cursor-pointer font-lora italic text-lg 2xl:text-2xl text-darker2">{data.Text}</button>
                                <span id={`linkPages${index}`} class=" h-1 bg-darker2"></span>
                            </a>
                    )
                })
            }
        </div>
    </div>
    <div class="flex gap-6 items-center relative">
        <Shopbag/>
        <div class=" flex justify-center items-center rounded-lg bg-brighter1 w-auto min-w-[223px] h-[46px]">
            <a href={pageData.Data?.booking_button_link}>
                <button id="navbarBtnContent" x-on:mouseover="growText" x-on:mouseleave="shrinkText" class="cursor-pointer font-lora italic px-5 text-lg text-darker2">
                    {pageData.Data?.booking_button_text}
                </button>
            </a>
        </div>
    </div>
</section>