---
import arrowicon from '../../public/image/angle-vertical.svg'

const {LabelText,Placeholder}=Astro.props
const {lang}=Astro.params
function capitalizeFirstLetter(val:string|undefined) {
    return String(val).charAt(0).toUpperCase() + String(val).slice(1);
}
const language= capitalizeFirstLetter(lang)
---
<div x-data="bookCardData" class="relative">
    <label class="text-darker2 text-base italic" for="">{LabelText}</label>
    <div x-on:click="arrowToggle" class=" flex items-center bg-brighter2 w-full h-[46px] rounded-sm cursor-pointer">
        <div class="px-2.5 w-full outline-none flex gap-1.5 text-darker2">
            <p x-data x-text="$store.service.shopList.length"></p>
            <p>{Placeholder}</p>
            <input type="hidden" name="selected_services" :value={`$store.service.services${language}`}>
        </div>
        <img id="bookingCardArrowIcon" class="w-[15px] h-[21px] xl:w-[20px] xl:h-[26px] mx-4" src={arrowicon.src} alt=""/>
    </div>
    <div x-cloak x-show="dropdownOpen" x-transition class=" z-10 drop-shadow-2xl absolute rounded-sm flex mt-2.5 flex-col bg-brighter2 w-full h-[161px] overflow-y-scroll">
        <div class=" my-2 flex flex-col gap-1">
            <template x-data x-for={`(card, cardIndex) in $store.service.services${language}`} :key="cardIndex">
                <div class=" ml-1 p-2 border-y-2 border-darker1 flex items-center gap-4 drop-shadow-lg">
                    <input :checked="$store.service.shopList.includes(card.id)" x-on:change="$store.service.handleCheckboxChange(card.id, $event)" class="w-[23px] h-[23px] cursor-pointer" type="checkbox" name="" id="">
                    <div class=" flex w-full justify-between items-center text-darker2 mr-3">
                        <div>
                            <h4 class="text-lg font-semibold" x-text="card.title"></h4>
                            <p class="text-sm" x-text="card.content"></p>
                        </div>
                        <p class="text-base font-medium" x-text="card.price"></p>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>