---
import { Image } from 'astro:assets';
import bagicon from '../../public/image/bag-shopping-solid.svg'
import closeIcon from '../../public/image/close-icon.svg'
const {lang}=Astro.params
function capitalizeFirstLetter(val:string|undefined) {
    return String(val).charAt(0).toUpperCase() + String(val).slice(1);
}
const language= capitalizeFirstLetter(lang)
---
<div x-data="shoppingBag" x-on:click="handleModal" class=" flex justify-center items-center relative" data-view-transition="true">
    <div 
        x-data 
        x-show="$store.service.shopList.length != 0" 
        class="-top-1.5 -right-2 lg:-top-2.5 lg:-right-2.5 flex justify-center items-center absolute rounded-full w-2.5 h-2.5 lg:p-2 z-10 bg-brighter1 text-[10px] lg:text-sm text-darker2"
        x-text="$store.service.shopList.length"
    ></div>
    <img class="w-[20px] h-[24px] lg:w-[26px] lg:h-[30px] 2xl:w-[30px] 2xl:h-[34px]" src={bagicon.src} alt="shop-bag-icon">
    <div 
      x-show="showModal" 
      x-cloak 
      class=" fixed h-full w-full sm:absolute sm:w-fit sm:left-auto sm:top-14 sm:h-fit inset-0 z-40 flex justify-start items-center"
    >
      <!-- Modal Content -->
      <section 
        x-transition 
        class="z-50 relative min-w-[340px] flex flex-col justify-center items-center shadow-2xs bg-primary px-4 w-full h-full sm:w-fit sm:h-fit p-16 rounded-lg"
        @click.stop
      >
        <!-- Close Icon -->
        <img 
          class="absolute top-2 right-2 2xl:top-4 2xl:right-4 w-[20px] h-[20px] z-50 cursor-pointer" 
          src={closeIcon.src} 
          alt="close icon"
          @click="showModal = false" 
        >

        <!-- Conditional Content -->
        <template x-if="$store.service.shopList.length === 0">
          <h4 class="z-50 text-darker2">
            shopping cart is empty
          </h4>
        </template>

        <template x-data x-if="$store.service.shopList.length !== 0">
          <div class=" flex flex-col gap-4">
            <div class=" flex flex-col gap-2 px-2.5 w-fit max-h-[550px] overflow-y-auto overflow-x-hidden">
              <template x-for={`(card, cardIndex) in $store.service.shopList${language}`} :key="cardIndex">
                <div class=" w-full rounded-sm bg-brighter1 text-darker2 flex flex-col p-2 justify-center items-center">
                  <template x-if="card.image">
                    <img class="min-w-[332px] w-[332px] h-[173px] bg-brighter2 object-cover" :src="card.image.src" alt="service-Image" />
                  </template>
                  <div class="flex justify-between items-center w-[230px] sm:w-full">
                      <div class="flex flex-col gap-2.5  font-lora w-auto sm:min-w-[234px]">
                          <h4 x-text="card.title" class="text-lg"></h4>
                          <p x-text="card.content" class="text-sm"></p>
                      </div>
                      <div class="flex gap-4 w-fit">
                        <p x-text="card.price"></p>
                        <img 
                          class=" w-[18px] h-[18px] z-30 cursor-pointer" 
                          src={closeIcon.src} 
                          alt="close icon"
                          @click="$store.service.deleteFromShopList(card.id)" 
                        />
                      </div>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </template>
      </section>
    </div>
</div>