---
import Bookingcard from "../../components/bookingcard.astro";
import Herosection from "../../components/herosection.astro";
import TestimonialsCard from "../../components/testimonialsCard.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from 'astro:content';


export async function getStaticPaths(){
    const bookingPageEnData = await getCollection("booking_page_en");
    const bookingPageFrData = await getCollection("booking_page_fr");
    const navBarEnData = await getCollection("navigation_bar_en");
    const navBarFrData = await getCollection("navigation_bar_fr");
    const footerEnData = await getCollection("footer_bar_en");
    const footerFrData = await getCollection("footer_bar_fr");
    return [
        {
            params: { lang: "en", slugBooking:"booking"},
            props: {
                pageData:bookingPageEnData[0].data,
                navBarData:navBarEnData[0].data,
                footerData:footerEnData[0].data
            }
        },{
            params: { lang: "fr", slugBooking:"reservation" },
            props: {
                pageData:bookingPageFrData[0].data,
                navBarData:navBarFrData[0].data,
                footerData:footerFrData[0].data
            }
        }
    ]
}
const { pageData,navBarData,footerData } = Astro.props;
---
<Layout NavBarData={navBarData} FootData={footerData}>
    <main class=" flex flex-col gap-12 xl:gap-[90px] items-center">
        <Herosection 
            title={pageData.header.title}
            subtitle={pageData.header.subtitle}
            image={pageData.header.image}
        />
        <Bookingcard Id="bookingSection" Content={pageData.booking_section}/>
        <div class=" flex flex-col gap-8 sm:gap-10 xl:gap-[70px]">
            <h3 class="sectionTitle text-darker2 w-full text-center font-lora italic text-3xl xl:text-5xl">{pageData.testimonials_section.title}</h3>
            <section id="testimonialsCard" class="flex flex-wrap justify-center items-center gap-3.5 sm:gap-7 xl:gap-14">
                {
                    pageData.testimonials_section.testimonials.map((testimonial)=>{
                        return(
                            <TestimonialsCard
                                title={testimonial.review_name} 
                                subtitle={testimonial.quote}
                                content={testimonial.description}
                            />
                        )
                    })
                }
            </section>
        </div>
    </main>
</Layout>