---
import Herosection from "../../components/herosection.astro";
import PriceCards from "../../components/priceCards.astro";
import Layout from "../../layouts/Layout.astro";

import { getCollection } from 'astro:content';

export async function getStaticPaths(){
    const servicesPageEnData = await getCollection("service_page_en");
    const servicesPageFrData = await getCollection("service_page_fr");
    const navBarEnData = await getCollection("navigation_bar_en");
    const navBarFrData = await getCollection("navigation_bar_fr");
    const footerEnData = await getCollection("footer_bar_en");
    const footerFrData = await getCollection("footer_bar_fr");
    return [
        {
            params: { lang: "en", slugServices:"service"},
            props: {
                pageData:servicesPageEnData[0].data,
                navBarData:navBarEnData[0].data,
                footerData:footerEnData[0].data
            }
        },{
            params: { lang: "fr", slugServices:"service" },
            props: {
                pageData:servicesPageFrData[0].data,
                navBarData:navBarFrData[0].data,
                footerData:footerFrData[0].data
            }
        }
    ]
}
const { pageData,navBarData,footerData } = Astro.props;

---
<Layout NavBarData={navBarData} FootData={footerData}>
    <main 
        class=" flex flex-col mt-[90px] gap-[90px] items-center"
        x-data
        x-init="$store.display.setDisplay()"
        @resize.window.debounce="$store.display.setDisplay()"
    >
        <Herosection
            title={pageData.header.title} 
            subtitle={pageData.header.subtitle}
            image={pageData.header.image}
        />
        <h3 class="text-darker2 w-[617px] text-center font-lora italic text-5xl">{pageData.services_section.title}</h3>
        <template x-data x-if="$store.display.screen=='desktop'">
            {
                pageData.services_section.services_cards.map((card, index)=>{
                    return(
                        <PriceCards
                            title={card.title} 
                            paragraphs={card.content} 
                            image={card.image}
                            buttonCloseText={card.button_text_close}
                            buttonOpenText={card.button_text_open}
                            index={index}
                            services={card.services}
                        />
                    )
                })
            }
        </template>
        <template x-data x-if="$store.display.screen=='tablet'">
            {

            }
        </template>
        <template x-data x-if="$store.display.screen=='mobile'">
            {

            }
        </template>
    </main>
</Layout>