---
import Herosection from "../../components/herosection.astro";
import PriceCards from "../../components/priceCards.astro";
import Layout from "../../layouts/Layout.astro";

import { getCollection } from 'astro:content';

export async function getStaticPaths(){
    const servicesPageData = await getCollection("service_page");
    const navBarData = await getCollection("navigation_bar");
    const footerData = await getCollection("footer_bar");
    return [
        {
            params: { lang: "en", slugServices:"service"},
            props: {
                pageData:servicesPageData[0].data,
                navBarData:navBarData[0].data,
                footerData:footerData[0].data
            }
        },{
            params: { lang: "fr", slugServices:"service" },
            props: {
                pageData:servicesPageData[1].data,
                navBarData:navBarData[1].data,
                footerData:footerData[1].data
            }
        }
    ]
}
const { pageData,navBarData,footerData } = Astro.props;

---
<Layout NavBarData={navBarData} FootData={footerData}>
    <Herosection
        title={pageData.header.title} 
        subtitle={pageData.header.subtitle}
        image={pageData.header.image}
    />
    <main class=" flex flex-col mt-[90px] gap-[90px] items-center">
        <h3 class="text-darker2 w-[617px] text-center font-lora italic text-5xl">{pageData.services_section.title}</h3>
        {
            pageData.services_section.services_cards.map((card, index)=>{
                return(
                    <PriceCards
                        title={card.title} 
                        paragraphs={card.content} 
                        image={card.image}
                        buttonCloseText={card.button_text_close}
                        buttonOpenText={card.button_text_open}
                        index={index}
                        services={card.services}
                    />
                )
            })
        }
    </main>
</Layout>