---
import Herosection from "../../components/herosection.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from 'astro:content';


export async function getStaticPaths(){
    const reviewPageEnData = await getCollection("review_page_en");
    const reviewPageFrData = await getCollection("review_page_fr");
    const navBarEnData = await getCollection("navigation_bar_en");
    const navBarFrData = await getCollection("navigation_bar_fr");
    const footerEnData = await getCollection("footer_bar_en");
    const footerFrData = await getCollection("footer_bar_fr");
    return [
        {
            params: { lang: "en" , slugReview:"review"},
            props: {
                pageData:reviewPageEnData[0].data,
                navBarData:navBarEnData[0].data,
                footerData:footerEnData[0].data
            }
        },{
            params: { lang: "fr", slugReview:"revoir"},
            props: {
                pageData:reviewPageFrData[0].data,
                navBarData:navBarFrData[0].data,
                footerData:footerFrData[0].data
            }
        }
    ]
}
const { pageData,navBarData,footerData } = Astro.props;
---
<Layout NavBarData={navBarData} FootData={footerData}>
    <main class=" flex flex-col gap-12 lg:gap-[90px] items-center">
        <Herosection
            title={pageData.header.title} 
            subtitle={pageData.header.subtitle}
            image={pageData.header.image}
        />
        <section class=" w-full flex justify-center items-center">
            <div class="flex flex-col md:flex-row gap-9 xl:gap-24 w-full h-fit bg-brighter1 justify-center items-center py-10">
                <div class="flex flex-col gap-4 md:gap-7 max-w-[450px] md:max-w-[336px] xl:max-w-[470px] font-lora mx-3 md:mx-0">
                    <h3 class="text-reddarker text-center md:text-start text-3xl xl:text-5xl italic">{pageData.review_card.title}</h3>
                    {
                        pageData.review_card.description.map((content)=>{
                            return(
                                <p class=" text-darker2 text-sm xl:text-base text-justify">{content.text}</p>
                            )
                        })
                    }
                </div>
                <div class="flex flex-col gap-5 xl:gap-8 font-lora italic text-base w-[95dvw] max-w-[450px] md:w-[284px] xl:w-[695px]">
                    <div>
                        <label class="text-darker2 text-base " for="">{pageData.review_card.label_name}</label>
                        <div class="bg-brighter2 w-full h-[46px] rounded-sm flex justify-center items-center">
                            <input class=" px-2.5 w-full outline-none" size="16" type="text" name="" id="">
                        </div>
                    </div>
                    <div>
                        <label class="text-darker2 text-base " for="">{pageData.review_card.label_resume}</label>
                        <div class="bg-brighter2 w-full h-[46px] rounded-sm flex justify-center items-center">
                            <input class=" px-2.5 w-full outline-none" size="16" type="text" name="" id="">
                        </div>
                    </div>
                    <div>
                        <label class="text-darker2 text-base " for="">{pageData.review_card.label_message}</label>
                        <div class="bg-brighter2 w-full h-[129px] rounded-sm">
                            <textarea class="p-2.5 w-full h-full outline-none resize-none" name="message" id=""></textarea>
                        </div>
                    </div>
                    <div class="font-lora w-full flex justify-center">
                        <a class=" flex justify-center items-center rounded-lg bg-brighter2 w-[223px] h-[46px]" href="">
                            <button class="text-darker2 cursor-pointer text-2xl not-italic">{pageData.review_card.button_text}</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Layout>