---
import Bookingcard from "../components/bookingcard.astro";
import Herosection from "../components/herosection.astro";
import TestimonialsCard from "../components/testimonialsCard.astro";
import Layout from "../layouts/Layout.astro";

const content={
    sectionFour:{
        title:"Let’s turn your special moments into unforgettable memories together!",
        content:"The process of contacting and hiring photography begins with the client sending basic details about the desired service via email or social media. The photographer responds with information about availability, prices and portfolio examples. After discussing details such as location, date and specific needs, the client receives a formal proposal and a contract to sign. The reservation is confirmed with an initial payment, and the photographer guides the preparations until the day of the session. Finally, the edited material is delivered within the agreed deadline, ensuring a professional and personalized experience.",
    },
    title:"Reviews",
    reviews:[
        {
            title:"Reviews name",
            subtitle:"Beyond Expectations!",
            content:"The photos are absolutely stunning! The attention to detail and ability to capture raw emotions is incredible. I couldn’t be happier! "
        },
        {
            title:"Reviews name",
            subtitle:"A Beautiful Experience",
            content:"From start to finish, the session was amazing. The photos perfectly reflect who we are, and we will cherish them forever!"
        },
        {
            title:"Reviews name",
            subtitle:"Memories That Last Forever",
            content:"Looking at our photos brings back all the emotions of that day. Thank you for capturing our story so beautifully!"
        },
    ]
}
---
<Layout>
    <Herosection 
        title="Your Story, Your Photoshoot" 
        subtitle="Secure your spot and let’s create unforgettable images"
        image="./image/gallery/general/bookingheader.png"
    />
    <main class=" flex flex-col mt-[90px] gap-[90px] items-center">
        <Bookingcard Id="bookingSection" Content={content}/>
        <h3 class="text-darker2 w-[617px] text-center font-lora italic text-5xl">{content.title}</h3>
        <section class="flex gap-14">
            {
                content.reviews.map((review)=>{
                    return(
                        <TestimonialsCard
                            title={review.title} 
                            subtitle={review.subtitle}
                            content={review.content}
                        />
                    )
                })
            }
        </section>
    </main>
</Layout>